# MySQL Configuration
MARIADB_VERSION=10.11
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

# Port Configuration
SHARD1_PORT=3307
SHARD2_PORT=3308
PROXY_PORT=8000

# Health Check Configuration
HEALTHCHECK_INTERVAL=5s
HEALTHCHECK_TIMEOUT=5s
HEALTHCHECK_RETRIES=5